.Button {
    width: 263px;
    height: 50px;
    background: #6AAA64;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    border: none;
    cursor: pointer;
}